input {
    background-color: black;
    color: white
}

button {
    
    background-color: black;
    border-color: rgb(239, 106, 129);
    color: white;
    
}

/* input {
    background-color: rgb(217, 235, 253);
    border: 1px solid  rgb(77, 161, 248)
} */

/* <canvas height="1052" width="1000" class="chartjs-render-monitor" style="display: block;height: 401px;width: 381px;background:  white; border: 1px solid rgb(239, 106, 129);"></canvas> */

/* .Profile {
    background: white;
} */