.upper {
    position: relative;
    height: 100vh;
    text-align: center;
    /* width: 100%; */
    /* background-image: url('./BDP.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
     */

}



    .BDP {
        background: url('../../BDP.png') no-repeat center center fixed; 
        /* -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; */
        background-size: cover;
        overflow: hidden;
        
      }


      @media (min-width:600px) {
        .BDP {
            background-image: url('../../Web\ view\ datapixel.png')
            /* background: white */
        }
       .upper {
           height: 100vh;
           display: flex;
        flex-direction: column;
        align-items: center;
       }
       .bar {
          
           width: 380px;
           height: 400px;
           
       }
      }


